{% extends 'main.html' %}
{% load static %}  
{% block content %} 

{% load crispy_forms_tags %}






<style>
  .g-3{
        /*box-shadow: 0 0 10px 4px #d0d0d0;*/
        box-shadow: 0 4px 8px 0 #fff;
       
       }

       .g-3:hover{
         border: #fff;
       }
    .worker-act{
      text-align: center;
    } 
    .worker-act .center h3{
      color: #000;
    
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
    }  
    .links{
      color: #000;
      font-family: Arial, Helvetica, sans-serif;
    }
</style>






<div class="container">
  <div class="worker-act">
    <div class="center">

        <h3>Registration Form </h3>
    </div>
  </div>
</div>
              


<div id="form2" class="container form2">
    <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
      
        {% csrf_token %}
      
     
        <div class="col-md-12 form2">
            {{ form1.username|as_crispy_field }}
        </div>
        <div class="col-md-12 form2">
            {{ form1.first_name|as_crispy_field }}
          </div>

        <div class="col-md-12 form2">
            {{ form1.last_name|as_crispy_field }}
          </div>

        <div class="col-md-12 form2">
            {{ form4.profession_name|as_crispy_field }}
          </div>

          <div class="col-md-12 form2">
            {{ form4.address|as_crispy_field }}
          </div>
          <div class="col-md-12 form2">
            {{ form4.phone|as_crispy_field }}
          </div>
          <div class="col-md-12 form2">
            {{ form1.email|as_crispy_field }}
          </div>
          <div class="col-md-12 form2">
            {{ form4.nin|as_crispy_field }}
          </div>

          <div class="col-md-4 form4">
            {{ form4.profile_img|as_crispy_field }}
        </div>
         
        
          <div class="col-md-4 form4">
            {{ form4.location|as_crispy_field }}
        </div>
        <div class="col-md-4 form4">
          {{ form1.password1|as_crispy_field }}
      </div>
      <div class="col-md-4 form4">
        {{ form1.password2|as_crispy_field }}
    </div>
  
        <div class="col-12">
     <input type="submit" class="btn btn-danger btn-lg" value="submit" >   
        </div>


    
  {{ form.errors }}
 
  
  
  <div class="mt-4">  
    
      <div class="d-flex justify-content-center links">
          Already Have An Account? <a href="{% url 'account:login' %}"
          class=" mm-2" >Login</a>
      </div>
  </div>    
      </form>




  </div>
  

       

  {% endblock %}   
