
{% extends 'main.html' %}
{% load static %}  
{% block content %} 




<div class="container" style="width: 20rem; margin-top: 70px; height: 20rem; background-color:#e9ecef;" >

    {% for message in messages %}
    <p id="messages">{{ message }}</p>
    {% endfor %}
    <div class="col-md-10 offset-md-1 mt-5" >
        <!--<div class="jumbotron"> 
             <h3 id="form-title" style="text-align: center;">Please login to enable you request the service you want</h3>-->
            <h3 class="display-44" style="text-align: center; font-size: 22px; margin-top: 50px; color: #343a40;">request service</h3>
            <p id="form-title" >Please login to enable you request the service you want</p>
           
                <a href="{% url 'account:login' %}"
                 style="font-size: 24px; text-align: center; text-decoration: none;"role="button" class="btn btn-danger"  >Login</a>
                 <a href="{% url 'account:register' %}"
                 style="font-size: 24px; text-align: center; text-decoration: none;" role="button" class="btn btn-success" >Register</a>
          
           <!-- <a action="" role="button" class="btn btn-primary btn-lg">Submit</a>-->
        </div>
    </div>


{% endblock %}    