{% extends 'main.html' %}
{% load static %}  
{% block content %} 

{% load crispy_forms_tags %} 
<style>
   

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}
#form2 h3{
    background-color: whitesmoke;
   
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

</style>




<div id="form2" class="container" style="width: 500px;  background-color: #04AA6D; align-items: center; text-align: center; margin-top: 50px;">
    <h3>Update Your Information</h3>

    <form action="" method="POST" class="row g-3">
        {% csrf_token %}
        <div class="col-md-8" style="padding-top: 20px;">
               {{ form1.username}}

          </div>
          <div class="col-md-6">
              {{ form1.first_name}}
              </div>
          <div class="col-md-6">
            
            {{ form1.last_name}}
          </div>
        
     
        <div class="col-6">

          {{ form2.location}}
        </div>
       
        
        <div class="col-6">
         
          {{ form2.address}
           </div>
        <div class="col-md-6">
           
            {{ form2.phone|as_crispy_field }}
             </div>
        <div class="col-md-6">
          
            {{ form1.email}}
          </div>
       
       <!-- <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" name="password1" placeholder="Password">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="text" class="form-control" id="inputPassword4" name="password2" placeholder="Repeat Password">
          </div>-->
  
     
        <div class="col-12">
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form>
            
       



 {{ form1.errors }}
{{ form3.errors }}


</div>






  {% endblock %}