{% extends 'main.html' %}
{% load static %}  

{% block content %} 






{% for i in job_info %}
{{i.product.name }}
{{ i.product.category}}
{{i.quantity}}
{{i.description}}
{{i.address}}
{{i.date_created}}

{{i.user.username}}
{{i.user.details.phone}}


{% endfor %}










<style>

  


.flex-container {
  display: flex;
  flex-wrap: wrap;
/*margin-top: 25px;*/
}

.flex-item-left {
  flex: 25%;
}

.flex-item-right {
  flex: 25%;
}

.property-information{
    margin-left: 20px;
}
.property-address h2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
  
    color: #0076AD;
    margin-left: 10px;
}
.property-information h3{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;

}
.property-information span{
    color: green;
}
.right{
    margin-left: 50px;
}
.search-result{
    margin-left: 30px;
}
.search-section .description{
    font-size: 15px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}
.job-detail{
    border: #0076AD; height: 150px; width: 100px;
    background-color: #777;
}
.job-detail h1{
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}
    </style>
   
  




<div class="search-section">


 
<div class="flex-container">
   
  <div class="job-detail">
    
  
        <h1>Services</h1>
   
  </div>
  <div class="job-detail">
     <h1>Category</h1>
  </div>
  <div class="job-detail">
    <h1>No. Of Persons</h1>
 </div>
 <div class="job-detail">
    <h1>Job Description</h1>
 </div>
 <div class="job-detail">
    <h1>Address</h1>
 </div>
 <div class="job-detail">
    <h1>Address</h1>
 </div>
 <div class="job-detail">
    <h1>Date Requested </h1>
 </div>
 <div class="job-detail">
    <h1>Address</h1>
 </div>
 <div class="job-detail">
    <h1>Client's Name</h1>
 </div>
 <div class="job-detail">
    <h1>Phone number</h1>
 </div>
  <div class="property-information">
      <h3 class="right">Listing ID50044316
        PBMLS-RETS</h3>
  </div>  
  <div class="property-information">
    <h3 class="right">Listing ID50044316
      PBMLS-RETS</h3>
</div> 
<div class="property-information">
    <h3 class="right">Listing ID50044316
      PBMLS-RETS</h3>
</div> 
<div class="property-information">
    <h3 class="right">Listing ID50044316
      PBMLS-RETS</h3>
</div> 
</div>
<h3 class="description"> {{result.describe </h3>













{% endblock %}

