
	{% extends 'main.html' %}
    {% load static %}  
    
    {% block content %} 


{%  include 'status.html' %}
<link rel="stylesheet" href="{% static 'css/cs.css' %}" >

<br>


<div class="col-md-7" style="align-items: center;">
	
    <h5>Available jobs</h5>
    <hr>
    <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Pick A Job</a>
        
        <table class="table table-sm" >
          

<tr style="margin-top: 70px;"> 

{% for item in areaJobs %}
<h3 style="text-transform: capitalize;">{{item.product.name}} &nbsp;<a href="{% url 'artisan:job_detail' item.id %}" style="align-items: center; text-transform: capitalize;" class="btn btn-success right">accept</a> &nbsp;<a href="" class="btn btn-danger" style="align-items: center; text-transform: capitalize;">decline</a> </h3>

<hr>

{% endfor %}
</tr>



<div class="container" style="background-color: green;">
    {% for service in areaJobs %}
    <h1 style="color: aliceblue;">{{ service.product.name }}</h1>
    {% endfor %}

</div>
</table>
</div>
</div>




{% endblock %}