
	{% extends 'main.html' %}
    {% load static %}  
    
    {% block content %} 




    
       





<div class="col-md-7">
		
    <h5>YOUR LASTEST  ORDERS</h5>
    <hr>
    <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Create Order</a>
        
        <table class="table table-sm" style="margin-top: 30px;">
          


{% for service in services_paid_for %}
<tr>
<td>{{ forloop.counter }} </td>

{% for item in service.items.all %}
<h3>{{item.product.name}} &nbsp;<a href="" style="align-items: center;" class="btn btn-success right">accept</a> &nbsp;<a href="" class="btn btn-danger" style="align-items: center;">decline</a> </h3>

<hr>

{% endfor %}
</tr>
{% endfor %}
</table>
</div>
</div>




{% if user %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'account:update_info' %}">Update Your information</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'products:jobs' %}">Place Order</a>

		</div>
	</div>


	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>username: {{user.username}}</p>
			<p>first name: {{user.first_name}}</p>
			<p>Phone: {{user.details.phone}}</p>
		
			<p>Email: {{user.email}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ order.get_total_count }}</h1>
		</div>
	</div>


{% endif %}





{%  include 'status.html' %}
<link rel="stylesheet" href="{% static 'css/cs.css' %}" >

<br>





<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
		
				<table class="table table-sm">
				<tr>
					<th></th>
					
					
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="">View</a></td>
						<td>{{user.username}}</td>
						<td>{{customer.phone}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
			
		
		
	
	
			</table>
			
		
		</div>
			
		</div>
		
	</div>
</div>




{% endblock %}