
      &nbsp;&nbsp; <a href="" class="btn btn-dark" style="text-align: center;border: none;">Click Here to  Confirm Your Job</a>   
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<h2 style="color:red">name is {{name}}</h2>

<h3>ordered:{{accepted_job.ordered}}</h3>
<h3>quantity:{{accepted_job.quantity}}</h3>
<h3>status:{{accepted_job.status}}</h3>

<h3>description:{{accepted_job.description}}</h3>
<h3>address:{{accepted_job.address}}</h3>
<h3>date_created:{{accepted_job.date_created}}</h3>

{% for name in accepted_job.artisan_assigned.all %}
<h2 style="color: green;"> artisan name :{{accepted_job..user.username }}</h2>


<h3 style="color: blue;">id is:{{ accepted_job.artisan_assigned.user.id }}</h3>

<h3 style="color: blue;">name is:{{ accepted_job.artisan_assigned.username }}</h3>

<h3 style="color: blue;">nin is:{{ accepted_job.artisan_assigned.user.nin }}</h3>
<h3 style="color: blue;">location is:{{accepted_job.artisan_assigned.user.location}}</h3>
<h3 style="color: blue;">phone is:{{accepted_job.artisan_assigned.user.phone}}</h3>
<h3 style="color: blue;">profession{{accepted_job.artisan_assigned.user.profeesional_name}}</h3>
{% endfor %}

<h3 style="color: blue;">id is:{{id}}</h3>
<h3 style="color: blue;">name is:{{name}}</h3>
<h3 style="color: blue;">nin is:{{nin}}</h3>
<h3 style="color: blue;">location is:{{location}}</h3>
<h3 style="color: blue;">phone is:{{phone}}</h3>
<h3 style="color: blue;">profession{{profeesional_name}}</h3>
