
      &nbsp;&nbsp; <a href="" class="btn btn-dark" style="text-align: center;border: none;">Click Here to  Confirm Your Job</a>   
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<h2 style="color:red">name is {{name}}</h2>

{% for accept in accepted_job %}
<h3>ordered:{{accept.ordered}}</h3>
<h3>quantity:{{accept.quantity}}</h3>
<h3>status:{{accept.status}}</h3>

<h3>description:{{accept.description}}</h3>
<h3>address:{{accept.address}}</h3>
<h3>date_created:{{accept.date_created}}</h3>

{% for info in accept.artisan_assigned.all %}
{{info }}
<h2 style="color: green;"> artisan name :{{ info.user.username }}</h2>
<h2 style="color: green;"> artisan name :{{ info.username }}</h2>

<h3 style="color: blue;">id is:{{ info.user.id }}</h3>

<h3 style="color: blue;">name is:{{ info.username }}</h3>

<h3 style="color: blue;">nin is:{{ info.user.nin }}</h3>
<h3 style="color: blue;">location is:{{info.user.location}}</h3>
<h3 style="color: blue;">phone is:{{info.user.phone}}</h3>
<h3 style="color: blue;">profession{{info.user.profeesional_name}}</h3>
{% endfor %}
{% endfor %}

<h3 style="color: blue;">id is:{{id}}</h3>
<h3 style="color: blue;">name is:{{name}}</h3>
<h3 style="color: blue;">nin is:{{nin}}</h3>
<h3 style="color: blue;">location is:{{location}}</h3>
<h3 style="color: blue;">phone is:{{phone}}</h3>
<h3 style="color: blue;">profession{{profeesional_name}}</h3>

{{assigned}}