{% extends 'main.html' %}
{% load static %}
{% block content %}

<h1>Search Results</h1>



      <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 300px;
          margin: auto;
          text-align: center;
          font-family: arial;
          height: 330px;
        }

        .card{
           /*box-shadow: 0 0 10px 4px #d0d0d0;*/
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
           border: 2px solid #7bdcb5;;
          }
         .card p{
           text-align: left;
           font-size: 18px;
           font-weight: 300;
           font-family: Arial, Helvetica, sans-serif;
           line-height: 20px;
         }
          .card img{
            padding: 20px;
            height: 130px;
            border-radius: 20px;

          }
          .card:hover{
            border: #fff;
            border-bottom-style: red;
          }
        .artisan .row .col-lg-4 .card h1{
           font-size: 20px;
           text-align: left;
           padding-left: 5px;
           /*color: #7bdcb5;*/
        }
        .artisan .row .col-lg-4 .card img{
            height: 190px;
           
        }
        .artisan .row .col-lg-4 .card p{
            text-align: left;
            margin-left: 5px;
           
        }
        .artisan .row .col-lg-4 .card p a{
           
        }
        .title {
          /*color: grey;*/
          font-size: 18px;
        }
        
        button {
          border: none;
          outline: 0;
          display: inline-block;
          padding: 8px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }
        
        p a {
          text-decoration: none;
          font-size: 22px;
       
          padding-bottom: 20px;
        }
        
        button:hover, a:hover {
          opacity: 0.7;
        }
        .artisan .row .col-lg-4 .card a{
            width: auto;
            background-color: #07bcc8;
           
        }
       .login-first{
         background: #ff686b !important;
       }
       
        </style>
       
        
       
     
        <div class="container artisan">
            <div class="row">
                {% for job in details %}
                {% if job %}
                <div class="col-lg-4">
                    <div class="card">
                        <img src="{{job.profile_img.url }}" alt="John" style="width:100%">
                        <h1>Name :{{ job.user.first_name }}  {{ job.user.last_name }}</h1>
                        <p class="title">Profession: {{ job.profession_name }}</p>
  
                        <p>Location: {{ job.location.location }} &nbsp; &nbsp;

                            {% if user.is_authenticated %}
                             <a href="{% url 'artisan:artisan_request' job.id %}" class="btn btn-dark">Make A Request</a>
                             {% else %}
                             <a href="{% url 'account:login' %}" class="btn btn-danger login-first">Please login First</a>
                             {% endif %}
                            </p>
                      </div>
                </div>
                {% else %}
                <p>{{name}}</p>
               <h4> Please use the above  name to search in the search bar</h4>
               {% endif %}
              {% endfor %}
            </div>
        </div>
     
        


     
    





       
       <style>
           
        
       
       
       
       </style>
       
       
     
       
       
       
  
       
       
       
       
       

       
{% endblock %}      