
    {% extends 'main.html' %}
    {% load static %}  
    
    {% block content %} 




<style>
  .artisan-job-info .col-md-4 .card{
    border: none;
    background: none;
  }
  .artisan-job-info .col-md-2 .card{
    border: none;
    background: none;
  }
  .artisan-job-info .col-md-6 .card{
    border: none;
    background: none;
  }
  .position-absolute{
    position: relative;
    top: 50px;
  }

.wrap-inn img{
    border-radius: 50%;
    padding: 20px;
    align-items: center;
    width: 300px;
    height: 300px;
}


</style>



    
    
    
    
    
    {% if user %}
    <div class="row">
      <div class="col-md">
        <div class="card card-body" style="background-color: none; border: none;">
         
          <div class="wrap-inn">
            <img class="img-with-animation skip-lazy animated-in" data-delay="0" height="450" width="450" data-animation="fade-in" src="{{ user.artisan.profile_img.url }}" alt="">
          </div>

        </div>
      </div>
    
    
      <div class="col-md">
        <div class="card card-body">
          <h5>Contact Information</h5>
          <hr>
          <p>username: {{user.username}}</p>
          <p>Full name: {{user.first_name}} &nbsp; {{user.last_name}}</p>
          <p>Phone: {{user.artisan.phone}}</p>
          <p>NIN: {{user.artisan.nin}}</p>
         
          <p>Email: {{user.email}}</p>
          <p>Address: {{user.artisan.address}}</p>
        </div>
      </div>
      
    
      <!--<div class="col-md">
        <div class="card card-body">
          
          <hr>
          <a class="btn btn-dark  btn-sm btn-block" href="{% url 'artisan:artisan_update' %}" style="font-size: 22px;">Update Your information</a>
   
        </div>
      </div>-->
    
    
    {% endif %}
    
    
    
    <hr>
    <hr>
    <br>





    <nav class="navbar navbar-expand-lg navbar-dark "  style="margin-top: 50px; background-color: #7abecc; padding: 20px; ">
      <div class="container-fluid">
        <span class="position-absolute start-50 translate-middle badge rounded-pill bg-primary">
          99+</span>
        <a href="{% url 'artisan:paidJobs' %}" class="navbar-brand btn btn-dark" style="font-size: 22px; background-color: #96D4D4; border: none;" >Available jobs in your area</a>
        <a type="button" href="{% url 'artisan:artisan_update' %}" class="navbar-brand btn btn-dark" style="font-size: 22px; background-color: #96D4D4; border: none;">Account Setting</a>
        
        <!-- Example single danger button -->
    
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="align-items: center;">
        <div class="btn-group">
          
          <button type="button" href="" class="btn btn-dark" style="font-size: 22px; background-color: #96D4D4; border: none;">Activities</button>
          <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <!--<span class="visually-hidden">Toggle Dropdown</span>-->
          </button>
          <ul class="dropdown-menu" style=" color: #000; width: 250px; color: #fff;">
    
            <li><a class="dropdown-item" href="{% url 'artisan:current_job' %}">On Going Job</a>
             </li>
            <li><button  class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm Your Job</button></li>
            <li><a href="{% url 'artisan:services_completed' %}" class="dropdown-item">Services Completed</a></li>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Launch demo modal
            </button>
          </ul>
          </div>
        </div>
      </div>
      </nav>
    
  
      
    </div>
    
    

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    


   
    {% endblock %}    