
    <div class="row artisan-job-info" style="margin-top: 40px;">
     
      <div class="col-md-12">
        
       
        <div class="card card-body">
          <a class="btn btn-success  btn-sm btn-block" href="">Service Completed </a>
          
          <table class="table table-sm" style="margin-top: 30px;">
            <tr>
              <th>No</th>
              <th>Service</th>
              <th>Address</th>
              <th>Date </th>
              <th>Price</th>  
              <th>Address</th>
              <th>Date </th>
              <th>Price</th>       
            </tr>

          
            <tr>
              <td>16</td>
              <td>14</td>
              <td>10</td>
              <td>14</td>
              <td>10</td>
              <td>14</td>
              <td>10</td>
            </tr>
        


          </table>
          
        
        </div>
          
        </div>
        
      </div>

      {% for name in job_info.artisan_assigned.all %}
<div class="property-information">
    <h3 class="right">Artisan</h3>
     <div class="">
        <h4 style="color: red;">  {{name.user.username}}</h4>
    </div>
</div> 
{% endfor %}

{% for name in job_info %}
{{name.product.name}}
{{name.product.quantity}}
{% for n in name.artisan_assigned.all %}
{{n.user.username}}
{% endfor %}





<!DOCTYPE html>
<html>
<style>

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
</style>
<body>



</body>
</html>

{% endfor %}



<h2>TR elements define table rows</h2>

<table style="width:100%">
  <tr>
    <td>Emil</td>
    <td>Tob</td>
    <td>Linus</td>
    <td>Ema</td>
    <td>Tobias</td>
    <td>Linus</td>
    <td>Emil</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
    <td>14</td>
    <td>10</td>
    <td>14</td>
    <td>10</td>
  </tr>
</table>