
    <div class="row artisan-job-info" style="margin-top: 40px;">
     
      <div class="col-md-12">
        
       
        <div class="card card-body">
          <a class="btn btn-success  btn-sm btn-block" href="">Service Completed </a>
          
          <table class="table table-sm" style="margin-top: 30px;">
            <tr>
              <th>No</th>
              <th>Service</th>
              <th>Address</th>
              <th>Date </th>
              <th>Price</th>        
            </tr>

          
            <tr>
            </tr>
        


          </table>
          
        
        </div>
          
        </div>
        
      </div>