{% extends 'main.html' %}
{% load static %}  

{% block content %} 
    <div class="row artisan-job-info" style="margin-top: 40px;">
     
      <div class="col-md-12">
        
       
        <div class="card card-body">
          <a class="btn btn-success  btn-sm btn-block" href="">Service Completed </a>
          
          <table class="table table-sm" style="margin-top: 30px;">
            <tr>
              <td>Job Name</td>
              <td>Category </td>
              <!--<td>How Mnaay Time?</td>-->
              <td>Address </td>
            
              <td>Client's Name</td>
              <td>Date</td>
              <td>Amount</td>
              <td>Artisan's Name</td>
             
            </tr>

          
         
            {% for job in job_info %}
            <tr>
              <td>{{ job.product.name }}</td>
              <td>{{job.product.category }}</td>
              <!--<td>{{ job.quantity }}</td>-->
              <td>{{ job.address }}</td>
             
              <td> {{job.user.last_name}}</td>
              <td>{{job.date_created}}</td>
              <td> 800</td>
              <td> {{job.user.last_name}}</td>
          
              {% for name in job.artisan_assigned.all %}
              <td> {{name.user.username}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
        


          </table>
          
        
        </div>
          
        </div>
        
      </div>

      {% for name in job_info.artisan_assigned.all %}
<div class="property-information">
    <h3 class="right">Artisan</h3>
     <div class="">
        <h4 style="color: red;">  {{name.user.username}}</h4>
    </div>
</div> 
{% endfor %}

{% for name in job_info %}
{{name.product.name}}
{{name.product.quantity}}
{% for n in name.artisan_assigned.all %}
{{n.user.username}}
{% endfor %}





<!DOCTYPE html>
<html>
<style>

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  background-color: #96D4D4;
}
</style>
<body>



</body>
</html>

{% endfor %}



<h2>TR elements define table rows</h2>

<table style="width:100%">
  <tr>
    <td>Job Name</td>
    <td>Category </td>
    <td>How Mnaay Time?</td>
    <td>Address </td>
    <td>Category </td>
    <td>Client'S Name</td>
    <td>Date</td>
    <td>Amount</td>
    <td>Artisan's Name</td>
   
  </tr>

  {% for job in job_info %}
  <tr>
    <td>{{ job.product.name }}</td>
    <td>{{job.product.category }}</td>
    <td>{{ job.quantity }}</td>
    <td>{{ job.address }}</td>
   
    <td>{{job.address}}</td>
    <td>{{job.date_created}}</td>
    <td> {{job.user.last_name}}</td>
    <td> 5000</td>
    {% for name in job.artisan_assigned.all %}
    <td> {{name.user.username}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}