{% extends 'main.html' %}
{% load static %}  

{% block content %} 



<div class="card card-body">
    <h3>Congratulations!</h3>
    <button class="btn btn-success  btn-sm btn-block" style="background-color: #96D4D4;" href="">Congratulations
      &nbsp;&nbsp;<a class="btn btn-danger  btn-sm btn-block" style=" border: none;" href="{% url 'artisan:confirmed_orders' %}">Dashboard</a>
       
    </button>
    </div>
    
{% for message in messages %}
<p id="messages">{{ message }}</p>

{% endfor %}
{% endblock%}