{% extends 'main.html' %}
{% load static %}  

{% block content %} 

   
<style>

  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    word-wrap: break-word;
    
  }

  </style>


<h2 style="text-align: center; color: #000; font-size: 28px; font-weight: 600;">On Going Job</h2>
  
    <div class="row artisan-job-info" style="margin-top: 40px;">
     
      <div class="col-md-12">
        
       
        <div class="card card-body">
          <button class="btn btn-success  btn-sm btn-block" style="background-color: #96D4D4;" href="">On Going Job
            &nbsp;&nbsp;<a class="btn btn-danger  btn-sm btn-block" style=" border: none;" href="{% url 'artisan:confirmed_orders' %}">Dashboard</a>
             
          </button>

          <table class="table table-sm" style="margin-top: 30px;">
        
            <tr>
              <td>Job Name</td>
              <td>Category </td>
              <td>Client's Name</td>
              <td>Job Description</td>
              <td>Address </td>
              <td>Phone</td>
              <td>Status</td>
              <td>Date</td>  
              <td style="font-size: larger;">Amount</td>
             
 
            </tr>  
            <tr>
           
              <td>{{ current_job.job_name }}</td>
              <td>{{current_job.category }}</td>
              <td> {{current_job.client}}</td>
              <td>{{current_job.description}}</td>
              <td>{{ current_job.address }}</td>
              <td> {{current_job.phone}}</td>
              <td> {{current_job.accepted}}</td>
              <td>{{current_job.accepted_date}}</td>
              <td style="background-color: #dc3545; color: #fff;"> {{current_job.price}}</td>
            
            </tr>
            <h1 style="color: red;">Job id :{{current_job.id}}</h1>
          </table>
        
        </div>
         </div>
      </div>

{% endfor %}









{% endblock %}

