{% extends 'main.html' %}
{% load static %}  

{% block content %} 

   
<style>

  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    word-wrap: break-word;
    
  }
  th, td {
    /*background-color: #96D4D4;*/
  }
  </style>


<h2>On Going Job</h2>
  
    <div class="row artisan-job-info" style="margin-top: 40px;">
     
      <div class="col-md-12">
        
       
        <div class="card card-body">
          <button class="btn btn-success  btn-sm btn-block" style="background-color: #96D4D4;" href="">Service Completed 
            &nbsp;&nbsp;<a class="btn btn-dark  btn-sm btn-block" style=" border: none;" href="{% url 'artisan:confirmed_orders' %}">Dashboard</a>
          </button>
          
          <table class="table table-sm" style="margin-top: 30px;">
            <tr>
              <td>Job Name</td>
              <td>Category </td>
            
              <td>Job Description</td>
              <td>Address </td>
              <td>Date</td>
              <td>Client's Name</td>
              <td>Phone</td>
            </tr>

          
         
           
            <tr>
              <td>{{ current_job.product.name }}</td>
              <td>{{current_job.product.category }}</td>
            
              <td>{{current_job.description}}</td>
              <td>{{ current_job.address }}</td>
              <td>{{current_job.date_created}}</td>

              <td> {{current_job.user.last_name}}</td>
              <td> {{current_job.user.details.phone}}</td>
            </tr>
            <a href="" class="btn btn-danger">Press here to Confirm Your Job</a>
          </table>
         <div class="container" style="align-items: center;">
            <a href="" class="btn btn-danger">Confirm Your Job</a>
         </div>
        
        </div>
        <a href="" class="btn btn-danger" style="text-align: center;">Confirm Your Job</a>
        </div>
      
      </div>



  
{% endblock %}


