{% extends 'main.html' %}
{% load static %}  

{% block content %} 

   
<style>
    

  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    word-wrap: break-word;
    
  }
 

  </style>



<style>
    .popp{
      width: 100%;
      height: 100%;
      /*background-color: #3c5077;*/
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .confirm{
      padding: 10px 60px;
      background: #96D4D4;
      border: 0;
      outline: none;
      cursor: pointer;
      font-size: 22px;
      font-weight: 500;
      border-radius: 30px;
      width: 500px;
      text-align: center;
    }
    .popup{
      width: 350px;
      background-color: whitesmoke;
      border-radius: 6px;
      position: absolute;
      /*top:0;*/
      /*top: -50px;
      left: -50px;*/
      transform: translate(-60%,-50%) scale(0.1);
      text-align: center;
      padding: 0 30px 30px;
      color: #333;
      visibility: hidden;
      transition: transform 0.4s, top 0.4s;
    }
    /*very important*/
    /*.popup .pop-img{
      width: 100px;
      height: 100px;
      
    }
    .popup .pop-img img{
      width: 100%;
      height: 100%;
      margin-top: -50px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }*/
    .popup p{
      font-size: 16px;
      font-weight: 200;
      margin: 30px 0 10px;
      color: #fff;
    }
    /*.popup .confirm{
      width: 30%;
      margin-top: 50px;
      padding: 10px 0;
      background-color: #6fd649;
      color: #fff;
      border: 0;
      outline: none;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      text-align: center;
      text-align: center;
    }*/
    .open-popup{
      visibility: visible;
      /*top: 50%;*/
      transform: translate(-50%,-50%) scale(1);
    }
   
    /*#accept{
      visibility: hidden;
    }*/
  .confirmed{
  
     
      
      background-color: #dc3545;
      border: 0;
      outline: none;
      cursor: pointer;
      font-size: 22px;
      font-weight: 500;
      border-radius: 30px;
   
     color: #fff;
     margin-left: 200px;
     width: 400px;
     text-align: center;
    
  }
   
  </style>

  

<h2 style="text-align: center; color: #000; font-size: 28px; font-weight: 600;">On Going Job</h2>
  
    <div class="row artisan-job-info" style="margin-top: 40px;">
     
      <div class="col-md-12">
        
       
        <div class="card card-body">
          <button class="btn btn-success  btn-sm btn-block" style="background-color: #96D4D4;" href="">On Going Job
            &nbsp;&nbsp;<a class="btn btn-danger  btn-sm btn-block" style=" border: none;" href="{% url 'artisan:confirmed_orders' %}">Dashboard</a>
             
          </button>

          <table class="table table-sm" style="margin-top: 30px;">
        
            <tr>
              <td>Job Name</td>
              <td>Category </td>
              <td>Client's Name</td>
              <td>Job Description</td>
              <td>Address </td>
              <td>Phone</td>
              <td>Status</td>
              <td>Date</td>  
              <td style="font-size: larger;">Amount</td>
             
 
            </tr>  
            <tr>
           
              <td>{{ jobinfo.job_name }}</td>
              <td>{{jobinfo.category }}</td>
              <td> {{jobinfo.client}}</td>
              <td>{{jobinfo.description}}</td>
              <td>{{ jobinfo.address }}</td>
              <td> {{jobinfo.phone}}</td>
              <td> {{jobinfo.accepted}}</td>
              <td>{{jobinfo.accepted_date}}</td>
              <td style="background-color: #dc3545; color: #fff;"> {{jobinfo.price}}</td>
            
            </tr>
            <h1 style="color: red;">Job id :{{jobinfo.id}}</h1>
          </table>
        
        </div>
         </div>
      </div>



    



  


      <div class="container popp">
        <div class="popup" id="popup">
      
          <table class="table table-sm" style="margin-top: 30px;">
           <tr>
      
           </tr>
      
            <tr>
              <p></p>
              <p style=" color: #fff;">Please understand that it is a criminal offence to register a job you didnt do.</p>
      
            </tr>
            <div class="container" style="margin-top: 20px;">
              <div class="items" style="align-items: center; text-align: center;">
      
            <td><a class="btn btn-success"  href="">Confirm</a></td>
      
              <td><a class="btn btn-danger"  onclick="closePopup()">Back</a></td> 
              </div>
            </div>
      
      
          </table>
      
         </div>
      </div>

      <div class="container conf">

        <button type="button" class="btn btn-sm confirmed" id="confirm" onclick="openPopup()">Click Here To Confirm Your Job</button>
      <!--<button type="button" class="btn btn-danger">Danger</button>
    
      <button type="button" class="btn btn-danger" onclick="openPopup()">check</button>-->
    
    
      </div>






  <!--<div class="container pop">
              <td><button type="button" class="btn btn-danger" onclick="openPopup()">check</button></td>
              <div class="popup" id="popup" >
               <div class="pop-img">
                <img src="/static/images/elect1.jpg" alt="">
               </div>
                <h2>thank you</h2>
                <p>your details has been successfully submitted</p>
                <p>Hope you understand what the job requires and you have the necessary skills to do it.Please understand that here is no room for mistakes </p>
                <button type="button" onclick="closePopup()">Ok</button>
                <a class="btn btn-success"  id="" href="">Accept</a>
              </div>
            </div>-->



<script>
    let popup = document.getElementById('popup');
    let accept = document.getElementById('confirm');
   
    function openPopup(){
      popup.classList.add("open-popup");
      accept.style.visibility ="hiden";

   
    }
    function closePopup(){
      popup.classList.remove("open-popup");
      accept.style.visibility ="visible";
    }
   
    
   
   </script>

{% endblock %}





