
{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %} 

<style>

.main-content{
  margin-top: 50px;
  width: 80%;
  margin: auto;
}



.main-content h2{
  text-align: center;
  color: #dc3545;
  font-size: 3em;

}
.main-content label{
  font-size: 1.5em;
  color: #45ccb8;
}
.main-content input[type=text],input[type=email],input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.main-content input[type=submit]{
  background: #ff3838;
  width: 100%;
  /*font-size: 2em;*/
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.main-content input[type=submit]:hover{
  background: green;
 
}
</style>
{% if user %}

<section class="main-content">
    <h2>Service Payment </h2>

    <form action="" method="POST" id="payForm">
  
      
    <label for="">Full Name</label>
    <input type="text" id="fullname" placeholder="Name on the card"   required>
    <label for="">Phone number</label>
    <input type="number" id="phoneNumber" placeholder="Enter the number registered with your bank" required>
    <label for="">Email</label>
    <input type="email" id="email" placeholder="Enter your email .." required>
    
    <label for="">Amount</label>
    <input type="number" id="amount"  value="{{ order.get_total_price }}" readonly>
  
    <input type="submit" value="Continue">
  

  
    </form>
{{form.errors }}
</section>
<script src="https://checkout.flutterwave.com/v3.js"></script>

<script src="{% static 'js/event.js' %}"></script>

{% endif %}


<!--<form>
  
    <button type="button" onClick="makePayment()">Pay Now</button>
  </form>
  
  <script>
    function makePayment() {
      FlutterwaveCheckout({
        public_key: "FLWPUBK_TEST-SANDBOXDEMOKEY-X",
        tx_ref: "RX1",
        amount: 10,
        currency: "USD",
        country: "US",
        payment_options: " ",
        redirect_url: // specified redirect URL
          "https://callbacks.piedpiper.com/flutterwave.aspx?ismobile=34",
        meta: {
          consumer_id: 23,
          consumer_mac: "92a3-912ba-1192a",
        },
        customer: {
          email: "cornelius@gmail.com",
          phone_number: "08102909304",
          name: "Flutterwave Developers",
        },
        callback: function (data) {
          console.log(data);
        },
        onclose: function() {
          // close modal
        },
        customizations: {
          title: "My store",
          description: "Payment for items in cart",
          logo: "https://assets.piedpiper.com/logo.png",
        },
      });
    }
  </script>-->

  {% endblock %}