
{% extends 'main.html' %}
{% load static %}  

{% block content %} 








<br><br>
{%  include 'status.html' %}
<link rel="stylesheet" href="{% static 'css/cs.css' %}" >

<br>







<div class="row">
	
	<td><b>{{ object.get_total_count }}</b></td>

	<div class="col-md-7">
		
		<h5>YOUR LASTEST  ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Request another services</a>
			
			<table class="table table-sm" style="margin-top: 30px;">
				<tr>
					<th>No</th>
					<th>Service requested</th>
					<th>Price</th>
					
                    <th>No of workers </th>
					<th>Total Amount </th>
					<th>Paid</th>
                    <th>Date Orderd</th>
					<!--<th>Final Amount </th>-->
				</tr>

<!--ok-->

		{% for order_item in paid_services.items.all %}<tr>
			<td>{{ forloop.counter }}</td>
			

			
			<td>{{ order_item.start_date }}</td>
			<td>{{order_item.get_total_price}}</td>
			<td style="text-align: center;">
				<!--<p><strong><i class="fas fa-arrow-up"></i></strong></p>
						<img data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}" alt="" style="background-color: green; font-size: x-large;">-->
												
					<!--<img data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart" class="chg-quantity" src="{% static 'images/arrow-down.png' %}" alt="" style="background-color: green;">
					<i class="fas fa-sort"></i>-->
						
				
				<!--<strong><a href="{% url 'products:add_item' order_item.pk %}"><i class="fas fa-sort-up"></i></a></strong>-->
				{{ order_item.quantity }}
				
									
			</td>		
									
			<td>{{order_item.get_total_item_price}}</td>
			<td>{{order_item.ordered}}</td>
				
			<td>{{order_item.date_created}}</td>
								
				
			<!--<td>{{order_item.get_final_price}}</td>
			<td style="color: tomato;">{{order_item.id}}</td>
			<td style="color: blue;">{{order_item.pk}}</td>-->
						
						
			
			<td>{{ order_item.items}}</td>
			<td>{{ order_item.product.price }}</td>
			<td>{{ order_item.items.quantity}}</td>
		</tr>
{% endfor %}
	
			</table>
			
		
		</div>
			
		</div>
		
	</div>
</div>




{% endblock %}