
{% extends 'dashboard/client/dashboard_links.html' %}
{% load static %}


{% block content %}




  <link rel="stylesheet" href="{% static 'template/css/vertical-layout-light/style.css' %}">


   
<style>
    .container-fluid{
     display: none;
   }
   @media (max-width:950px) {
    .container-fluid{
        display: block;
    }
    .container-scroller {
    overflow: hidden;
    height: 100px;
}
}
</style> 



<div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="table-responsive pt-3">
           <h3>Transactions Details</h3>
            <table class="table table-striped project-orders-table">
            <thead>
            
            <tr>
                <th>ID</th>
                <th>Service requested</th>
                <th>Artisan's Nmae </th>
                <th>No of workers </th>
              
                <th>Paid</th>
                <th>Address </th>
                <th>Job Location </th>
                <th>Date paid</th>
                <th>Accepted date </th>
                <th>Compeleted? </th>
                <th>Unity price </th>
                <th>Amount </th>
               
              
            </tr>
            </thead>
    
            <tbody>
                
                    
        {% for item in all_jobs  %}
             
                <tr>
                    <td>#{{ forloop.counter }}</td>
                <td>{{item.product.name }}</td>
               
                <td>{{item.user.last_name}}</td>
                <td>{{item.number_of_workers}}</td>
                <td>{{item.ordered}}</td>
                <td>{{item.address}}</td>
                <th>{{item.location}} </th>
                <td >{{item.date_created}}</td>
                <td> {{item.accepted_date}}</td>
                <td> {{ item.work_done}}</td>
                <td> {{item.product.price}}</td>
                <td>{{item.get_total_item_price}}</td>
            
                </tr>
       
        {% endfor %}  
            </tbody>
                
           </table>
        </div>
        </div>
    </div>
    </div>
</div>




    


{% endblock %}

  








