{% extends 'main.html'%}
{% load static %}
{% block content %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>I_client_dashboard</title>
 
  <link rel="stylesheet" href="{% static 'template/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->


</head>
<style>
  
.ava{
  padding: 25px;
  font-size: 22px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:400px){
  .content-wrapper {
    padding: 10px;
}
.card .card-body {
    padding: 10px;
}
@media (max-width:300px){

  
h3, .h3 {
    font-size: 1.5rem;
}

}
}
</style>

  
 
      <div class="main-panel">
        {% if not areaJobs%}
        <h3 class="ava">No jobs available at this point;Please check back later.</h3>
        {% else %}
        <h3 class="ava">Available Jobs</h3>
        {% endif %}
        <div class="content-wrapper">
 
            <div class="col-md-12 col-xl-4 grid-margin stretch-card" id="stats">
              <div class="card">
          
                <div class="card-body border-bottom">
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-2 mb-md-0 text-uppercase font-weight-medium">Available jobs</h6>
                  </div>
                    <div class="col-md-7" style="align-items: center;">
                     
                            <div class="card card-body">
                            <table class="table table-sm" >
                            <tr style="margin-top: 70px;"> 

                            {% for item in areaJobs %}

                            <h3 style="text-transform: capitalize;">{{item.product.name}} &nbsp;<a href="{% url 'artisan:job_detail' item.id %}" style="align-items: center; text-transform: capitalize;" name="view-detail" class="btn btn-success right">See Detail</a>
                            </h3>

                            <hr>
                            {% endfor %}
                            </tr>
                            </table>
                            </div>
                          </div>
                </div>

               
              </div>
            </div>
      
         
          </div>

        </div>
       
     

{% include 'footer.html' %}
{% endblock %}

