

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Client Dashboard</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'template/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'template/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'template/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <!--<link rel="shortcut icon" href="{% static 'template/images/favicon.png' %}" />-->
  <link rel="shortcut icon" href="{% static 'images/brand/title_image2.png' %}" />
</head>






  <!-- base:js -->
  <script src="{% static 'template/vendors/js/vendor.bundle.base.js ' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'template/vendors/chart.js/Chart.min.js ' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'template/js/off-canvas.js ' %}"></script>
  <script src="{% static 'template/js/hoverable-collapse.js ' %}"></script>
  <script src="{% static 'template/js/template.js ' %}"></script>
  <script src="{% static 'template/js/settings.js ' %}"></script>
  <script src="{% static 'template/js/todolist.js ' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'template/js/dashboard.js ' %}"></script>
  <!-- End custom js for this page-->