{% extends 'main.html' %}
 {% load static %}
{% block content %}




    <div class="container" style="margin-top: 10%; background-color:whitesmoke ;">

      <h4 style="align-items: center; text-align: center;"> your desired workers</h4>
      <!--to be removed-->
      <div class="conted">
      
          <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for product in prod %}
            <button onclick="toggleChoice()" class="card" href="">
            <div class="col" style="height: 400px;">
              <div class="card">
                <img src="{{ product.img.url }}" class="card-img-top" alt="..." style="height: 300px;">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name}}</h5>
                  <p class="card-text">{{ product.desc }}</p>
                </div>
              </div>
            </div>
            </button>
           
            {% endfor %}
        </div>
      

      </div>
      
      <!--d-->


      <div id ="choice" class="select-choice">
         
        <div class="what-do-want">
          <h3>What do you want?</h3>

<button onclick="toggleChoice()"  type="button" class="btn btn-danger newB">Back</button>



        </div>  
        <div class="choose">
          <div class="employ">
            <button ><a href="{% url 'account:login' %}">Request a service </a></button>
          </div>
          <div class="job">
            <button ><a href="{% url 'account:login' %}"> find a job </a></button>
          </div>
        </div>
      </div>
        </div>



<hr>



</body>
</html>
{% endblock %}