{% extends 'main.html' %}
{% load static %}
{% block content %}




<div class="col-12 text-center mt-5">
    <h1 class="text-dark pt-4">Easy way to get your work done</h1>
    <div class="border-top border-primary w-25 mx-auto my-3"></div>
    <p class="lead">Connect with your artisans here</p>
</div>


  <div class="prod">
<div class="container">
    <div class="row my-5">
        {% for product in prod %}
        <div class="col-md-4 my-4">
            <img  src="{{ product.img.url }}" alt="" class="w-100">
            <h4 class="my-">{{ product.name}}</h4>
            <p>{{ product.desc}}</p>
            <a href="" class="btn btn-dark btn-md">View detail</a>
        </div>
        {% endfor %}
        <!--<div class="col-md-4 my-4">
            <img src="{% static 'images/photographer2.jpg' %}" alt="" class="w-100">
            <h4 class="my-4">Amazing.Incredible</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsam illum rem nisi eum error, repellat voluptatem minima quos neque.</p>
            <a href="" class="btn btn-outline-dark btn-md">Read more</a>
        </div>
        <div class="col-md-4 my-4">
            <img src="{% static 'images/photographer2.jpg' %}" alt="" class="w-100">
            <h4 class="my-4">Amazing.Incredible</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsam illum rem nisi eum error, repellat voluptatem minima quos neque.</p>
            <a href="" class="btn btn-outline-dark btn-md">Read more</a>
        </div>
        <div class="col-md-4 my-4">
            <img src="{% static 'images/photographer2.jpg' %}" alt="" class="w-100">
            <h4 class="my-4">Amazing.Incredible</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsam illum rem nisi eum error, repellat voluptatem minima quos neque.</p>
            <a href="" class="btn btn-outline-dark btn-md">Read more</a>
        </div>
        <div class="col-md-4 my-4">
            <img src="{% static 'images/elect1.jpg' %}" alt="" class="w-100">
            <h4 class="my-4">Amazing.Incredible</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsam illum rem nisi eum error, repellat voluptatem minima quos neque.</p>
            <a href="" class="btn btn-outline-dark btn-md">Read more</a>
        </div>
        <div class="col-md-4 my-4">
            <img src="{% static 'images/hairdresser2.jpg' %}" alt="" class="w-100">
            <h4 class="my-4">Amazing.Incredible</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsam illum rem nisi eum error, repellat voluptatem minima quos neque.</p>
            <a href="" class="btn btn-outline-dark btn-md">Read more</a>
        </div> <div class="col-md-4 my-4">
            <img src="{% static 'images/welder2.jpg' %}" alt="" class="w-100">
            <h4 class="my-4">Amazing.Incredible</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsam illum rem nisi eum error, repellat voluptatem minima quos neque.</p>
            <a href="" class="btn btn-outline-dark btn-md">Read more</a>
        </div>-->
    </div>
</div>
</div>

{% endblock %}