{% extends 'main.html' %}
{% load static %}
{% block content %}





      <style>
        .col-lg-6{
          padding: 20px;
        }
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 600px;
          margin: auto;
          text-align: center;
          font-family: arial;
          height: 350px;
          padding: 20px;
        }

        .card{
           /*box-shadow: 0 0 10px 4px #d0d0d0;*/
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
           border: 2px solid #7bdcb5;;
          }
          h3{
            color: #333;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
          }
         .card p{
           text-align: left;
           font-size: 16px;
           font-weight: 200;
           font-family: Arial, Helvetica, sans-serif;
           margin-top: 5px;
         }
       
          .card:hover{
            border: #fff;
            border-bottom-style: red;
          }
     
      
        </style>
       
        
       
     
        <div class="container serv">
            <div class="row">
              <h1>Our Services</h1>
                <div class="col-lg-6">
                    <div class="card">

                     
                        <h3 class="service-title"><!--Job recruitment-->Artisans assembling </h3>
  
                          <p>Join our team today and have a wide range of job offer. We have numerous clients in your neighborhood who require your service. </p>
                            <p> Contact us today for best services you desire.</p>

                      </div>
                </div>
                <div class="col-lg-6">
                  <div class="card">
                   
                      <h3>Employment Agency</h3>
                      <p>At I_wan_wok.com, we assemble the best artisans in your neighborhood.They are promptly trained and retrained always.We emphasis honesty as it is our core value for our esteemed clients all over the country.  &nbsp; &nbsp;
                          
                      </p>
                     <p>Looking for workers who will give you maximum job satisfaction? Look no further as we have a pool of trained, dedicated and honest workers waiting for your call. Contact us today and have the best artisans/employees you desire.</p>
                      <p>
                        We are open for both private and corporate organizations.
                          </p>
                          <p>You are one call away from getting what you desire!</p>
                    </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                   
                    <h3>Training and Career Coaching</h3>
                   <p>Looking for experts to train your employees on any fields? At I_wan_wok.com ,we have all fields experts waiting to give modern training to memebers of your organizations.</p>

                   <p>We also organize Career Coaching and mentorship</p>
                   <p>Contact us today and have your needs met</p>
                  </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                 
                  <h3>Long Term Employment</h3>
                 <p>The issue of hiring today and firing tomorrow may affect your business. If your wish is to have long term employment,I_wan_wok has got you covered </p>
                    
                    
                </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
               
               <h3>Short Term Employment</h3>
             

            <p>We are here to meet your need. Be it a day, week or month service. I_wan_wok has got all you need at a go</p>
              </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
              
             <h3>Out-sourcing</h3>
             <p>Post a job on our platform and see it solved in no time. We go extra miles to make sure you are satisfied </p>
            </div>
      </div>
           
            </div>
        </div>
     
        


       
       
     
       
       
       
  
       
       
       
       
       

       
{% endblock %}      