{% extends 'main.html' %}
{% load static %}  
{% block content %} 




  <div class="container" style="align-items: center; margin-top: 40px;">
  <div class="card text-white bg-dark mb-6" style="max-width: 45rem;">
    <div class="card-header" style="text-align:center">Terms and Condtions </div>
    <div class="card-body">
      <!--<h5 class="card-title">terms</h5>-->
      <p class="card-text">I wan- wok.com does not employ any worker or work seeker neither is it responsible for the conduct of any worker or work seeker. I wan-wok .com provides informations and tools to help workers and employers connect and make informed decisions. </p>

       <p>Each individual is solely responsible for selecting an appropriate worker or work seeker for themselves or their families and would be solely responsible for every decision taken after complying with all applicable laws in connection with any employment relationship they establish. </p>
        
       <p>All information contained in member profiles, job posts and applications are supplied by work seekers themselves and are not  informations generated or verified by I- wan-wok.com.</p>
    </div>
  </div>
  </div>

{% endblock %}
