{% extends 'new/base.html' %}
 {% load static %}
{% block content %}

<section class="hire-worker mt-0 pt-0">
    <div class="container py-0 my-0">
        <div class="row mt-5 m-5">
            <div id="text" class="col-md-12 col-sm-12 text-center">
                <p class="centered ">Recruit as many workers as you wish <b></b> <!--Monthly for only NGN 25,000… --> <a class="" href="">RECRUIT NOW</a></p></div></div>


                <div class="row mt-2 mb-4 pt-3">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h4 class="centered headline mb-3 pb-4">Our locations</h4>
                        <div class="row d-flex">
                            {% for loc in address %}
                            <div class="col-md-2 col-sm-2 ">{{loc.name}}</div>
                            {% endfor %}
                          
                        </div>
                          
                    </div>
                </div>


        <div class="text-center my-5 py-4 align-items-center">
            <h4 class="py-4 my-2">All of our artisans have fully been verifiled</h4
                                    >
            <p class="w-75 ml-auto mr-auto ">View to hire already scrutinized and  trained professionals in their different fields who live within your community. whatever type of workers you want,they are here wating for you!</p>
                    </div>

        <div class="view-more__slider">
            <div class="" dir="ltr">
            <button type="button" data-role="none" class="slick-arrow slick-prev" style="display: block;"> Previous</button>


            <div class="slick-list">
                <div class="slick-track" style="width: 3553px; opacity: 1; transform: translate3d(-1672px, 0px, 0px);">
                   <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 209px;">
                        
                    <div>
                        <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="text-center">
                                    <h6 class="mb-4 mt-5">TUTOR <br>DRIVERS</h6
                                         ><a href="https://www.driversng.com/shop">view more</a></div>
                                        </div>
                    </div>


            <div data-index="0" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 20">
                <div>
                    <div class="slide" tabindex="-1" style="width: 100%; display: inline-bl">
                    <div class="text-center">
                        <h6 class="mb-4 mt-5">FULL TERM DRIVERS</h6>
                        <a href="./full-time/packages">view more</a>
                    </div></div></div>
            </div>

            
            <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 209px;">
                <div>
                    <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                        <div class="text-center">
                    <h6 class="mb-4 mt-5">SHORT TERM DRIVERS</h6><a href="./short-term">view more</a></div></div>
                </div></div>
                
                
                <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 209px;">
                    <div>
                        <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="text-center">
                                <h6 class="mb-4 mt-5">UBER <br>DRIVERS</h6>
                                
                            <a href="./uber">view more</a></div></div></div>
                        </div>


                <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 209px;">
                    <div>
                        <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                        <div class="text-center">
                            <h6 class="mb-4 mt-5">TAXIFY <br>DRIVERS</h6>
                            <a href="./taxify">view more</a>
                            </div></div></div></div>

                                        
             <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 209px;">
                <div>
                    
                <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                    <div class="text-center">
                        
                    <h6 class="mb-4 mt-5">BRT <br>DRIVERS</h6>
                    <a href="https://www.driversng.com/shop">view more</a>
                </div></div></div></div>
                

                <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 209px;">
                    <div>
                        
                    <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                        <div class="text-center">
                            <h6 class="mb-4 mt-5">AIRPORT <br>DRIVERS</h6>
                            <a href="https://www.driversng.com/shop">view more</a>
                        </div></div></div></div>
                        
                        
                        <div data-index="6" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 209px;">
                            
                            <div>
                            <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                                
                            <div class="text-center">
                                
                                <h6 class="mb-4 mt-5">TUTOR <br>DRIVERS</h6>
                                <a href="https://www.driversng.com/shop">view more</a>
                            </div></div></div></div>


            <div data-index="7" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 209px;">
                                <div>
                            
            <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">    
                <div class="text-center">
                    
                <h6 class="mb-4 mt-5">TUTOR <br>DRIVERS</h6>
                <a href="https://www.driversng.com/shop">view more</a>
            </div></div></div></div>
            
            
            <div data-index="8" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 209px;">
                <div>
                <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                    <div class="text-center">
                        
                    <h6 class="mb-4 mt-5">FULL TERM DRIVERS</h6>
                    <a href="./full-time/packages">view more</a>
                </div></div></div></div>
                
                <div data-index="9" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 209px;">
                    <div>
                    <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                    <div class="text-center">
                        <h6 class="mb-4 mt-5">SHORT TERM DRIVERS</h6>
                        <a href="./short-term">view more</a></div></div></div>
                    </div>
                                    

                        <div data-index="10" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 209px;">
                            <div>
                            <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="text-center">
                            <h6 class="mb-4 mt-5">UBER <br>DRIVERS</h6>
                            <a href="./uber">view more</a></div></div></div>
                        </div>

                        <div data-index="11" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 209px;">
                                <div>
                            <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="text-center">
                                    <h6 class="mb-4 mt-5">TAXIFY <br>DRIVERS</h6>
                                    <a href="./taxify">view more</a>
                                </div></div></div>
                            </div>


                        <div data-index="12" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 209px;">
                            <div>
                            <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="text-center">
                            <h6 class="mb-4 mt-5">BRT <br>DRIVERS</h6>
                            <a href="https://www.driversng.com/shop">view more</a>
                        </div></div></div></div>
                        

                        <div data-index="13" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 209px;">
                            <div>
                            <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="text-center">
                                <h6 class="mb-4 mt-5">AIRPORT <br>DRIVERS</h6>
                            <a href="https://www.driversng.com/shop">view more</a>
                        </div></div></div></div>
                        
                        <div data-index="14" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 209px;">
                            <div>
                            <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="text-center">
                                <h6 class="mb-4 mt-5">TUTOR <br>DRIVERS</h6>
                                <a href="https://www.driversng.com/shop">view more</a></div></div></div>
                            </div>
                            
                            <div data-index="15" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 209px;">
                                <div>
                                    <div class="slide" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="text-center">
                                <h6 class="mb-4 mt-5">TUTOR <br>DRIVERS</h6>
                                <a href="https://www.driversng.com/shop">view more</a>
                            </div></div></div></div>
                        
                        
                        
                        </div>
                        </div>


<button type="button" data-role="none" class="slick-arrow slick-next" style="display: block;"> Next</button>
</div></div>

<div class="row mt-5"><div class="col-md-4 text-center mb-4">
    <div class="solution-item">
        <div class="solution-item__img">
        <img src="./imgs/responsive.png" alt="Mobility Solutions">
    </div>
                                        
    <h6 class="mt-5">Mobility Solutions</h6>
                                        
        <p class="mt-3 msg">Driversng has made available multiple recruitment solutions for your personal or enterprise needs.this means your mobility is
             now guaranteed to be handled by vetted trained professionals.
             you can enjoy any of the services from the comfort of your office 
             or home via your laptop,phone or tablets.</p>
            </div></div>
                                        

                                        <div class="col-md-4 text-center mb-4">
                                            <div class="solution-item">
                                                <div class="solution-item__img">
                                                    <img src="./imgs/stop-watch.png" alt=""></div>
                                                    
                                                    <h6 class="mt-5">On-demand &amp; Realtime</h6>
                                                    
                                                    <p class="mt-3 msg">All our services are delivered almost immediately when you sign up,request and pay for the services you want to enjoy.you get served from 30minutes to 24hours when you interact with our platform.</p></div>
                                                </div
                                                
                                                ><div class="col-md-4 text-center mb-4">
                                                    
                                                    <div class="solution-item">
                                                        <div class="solution-item__img"><img src="./imgs/trust.png" alt="">
                                                        
                                                        </div>
                                                        <h6 class="mt-5">Discipline &amp; Security</h6>
                                                        <p class="mt-3 msg">We have taken time to orientate,train and vet all drivers on our platform to be full professionals,driving you in safety and ensuring your security is intact.drivers on our platform are disciplined to keep you secured,drive you in comfort and style.</p></div></div>
                                                    </div>
                                                    
                                                    <div class="row align-items-center mt-5"><div class="col-md-6 p-5"><img src="./imgs/organise-private-car.png" alt="Organise Private Cars"></div>
                                                    
                                                    <div class="col-md-6">
                                                        <div>
                                                            <h5 class="mb-4">FULL TERM DRIVERS EMPLOYMENT</h5><p class="mb-4 msg">Are you a private vehicle owner or enterprise seeking to engage the services of already vetted professional in 24hours? You are in the right place.hire the right set of reliable vetted professional drivers <b>ONDEMAND</b>
                                                            
                                                            </p><a href="https://www.driversng.com/fulltime" class="btn btn-primary btn-round">HIRE NOW</a></div></div></div>
                                                            
                                                            <div class="row align-items-center mt-5">
                                                                <div class="col-md-6"><div>
                                                                    
                                                                    <h5 class="mb-4"> SHORT TERM EMPLOYMENT &amp; ENGAGEMENT</h5><p class="mb-4 msg ">Engage drivers for a day service,a week service,a month or scheduled times within the month or within the year.this service enables you to make use of a driver"s service for a handful period of time.</p>
                                                                    
                                                                    <a href="https://www.driversng.com/short-term" class="btn btn-primary btn-round">HIRE NOW</a></div></div>
                                                                    <div class="col-md-6 p-5"><img src="./imgs/mountain-car.png" alt="Human Resourse Manager">
                                                                    </div></div></div>
                                                                    <div class="outsource-section">
                                                                        
                                                                        <div class="container">
                                                                            <div class="layers"></div>
                                                                            <div class="row justify-content-end">
                                                                                <div class="col-md-6 mt-5 mb-5">
                                                    <h5 class="mb-4"> VETTED TRAINED DRIVER'S PROFILES IN REAL TIME</h5>
                                                    <p class="mb-3 msg-white width-80 text-white">Do you have low budget and yet wants to recruit the best professional drivers whom have been vetted,verified and are professionals.then you need not to worry you can now access already vetted drivers in real time and possibly hire all of them with extremely affordable rates.</p>
                                                    <a href="https://www.driversng.com/marketplace" class="btn btn-outline-white btn-round">VIEW NOW</a></div></div>
                                                    <div class="row  justify-content-end">
                                                <div class="col-md-6 mt-5 mb-5 "><h5 class="mb-4">RIDESHARING DRIVERS EMPLOYMENT</h5>
                                                    <p class="mb-3 msg-white width-80 text-white ">Do you have uber car or taxify (now bolt)vehicle,but you seek a professional driver for them.you are in the right place</p>
                                                    
                                                    <a href="https://www.driversng.com/client/ridesharing" class="btn btn-outline-white btn-round">HIRE NOW</a></div></div></div></div>
                                                    
                                                    <div class="features"><div class="container">
                                                        <h5 class="text-center mt-5 mb-5">We are also featured on</h5>
                                                        <div class="row justify-content-center align-items-center">
                                                            <div class="col-6 col-sm-2 mb-5"><img src="./imgs/techpoint.png" alt="Techpoint" id="techpoint-logo"></div>
                                                            
                                        <div class="col-6 col-sm-2 mb-5">
                                            <img src="./imgs/rhythm.png" alt="" id="rhythm-logo"></div>
                                            <div class="col-6 col-sm-2 mb-5">
                                                <img src="./imgs/techmoran.png" alt="" id="techmoran-logo"></div>
                                                <div class="col-6 col-sm-2 mb-5">
                                                    <img src="./imgs/classic.png" alt="" id="classic-logo"></div>
                                                    <div class="col-6 col-sm-2 mb-5"><img src="./imgs/thebeat.png" alt="" id="thebeat-logo"></div></div>
                                                    <div class="row justify-content-center align-items-center">
                                                        <div class="col-6 col-sm-2 mb-5"><img src="./imgs/disrupt.png" alt="" id="disrupt-logo"></div>
                                                <div class="col-6 col-sm-2 mb-5">
                                                    
                                                    <img src="./imgs/channels.png" alt="" id="channels-logo">
                                                </div>
                                                <div class="col-6 col-sm-2 mb-5">
                                                    <img src="./imgs/connect.png" alt="" id="connect-logo"></div>
                                                    <div class="col-6 col-sm-2 mb-5">
                                                        <img src="./imgs/thenerve.png" alt="" id="thenerve-logo"></div></div></div></div>
                                                    
                                                    </section>








<div class="owl-carousel owl-theme">
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/wilmot_girl.png" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/woman1.jpg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/woman2.jpg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/woman3.jpg" alt="">
        </div>
    </div>
    <div class="item">
        <div class="imgContact">
            <img src="/static/images/pic/woman4.jpg" alt="">
        </div>
    </div>
   
  
   
 
</div>

<script>
  $(document).ready(function(){
    if ($('.owl-carousel').length){
    $('.owl-carousel').owlCarousel({
        loop:true,
        //margin:10,
        nav:true,

       // autoplayTimeout: 2000,
        autoplay:true,
    //autoplayTimeout:10000,
    //autoPlayHoverPause:false,
        //animateOut: 'slideOutDown',
        //animateIn: 'flipInX',
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                
            },
         
            600:{
                items:2,
               
            },
            900:{
                items:3,

            },
            1000:{
                items:6,
               
                loop:true,
            }
        }
    })
}
})

</script>



{% endblock %}